### 1. 숫자형

In [2]:
a=3 
b=4
print(a+b, a*b, a/b)

print(a**b) # 제곱 
print(a%b) # 나머지 
print(a/b)  # 나누기
print(a//b) # 소수점 아랫자리 버림

7 12 0.75
81
3
0.75
0

### 2. 문자형

In [7]:
a="Life is too short"

a[0] , a[0:3] # 0 <= idx <3 # 3은 포함되지 않음

('L', 'Lif')

In [8]:
a="hobby"

# 문자 개수 세기(count)
a.count('b') # b갯수 세어줌

2

In [12]:
# 위치 알려주기(find)
a.find('y') # 'y' 문자가 처음 나오는 위치의 index 값 반환

4

In [14]:
# 문자열 삽입(join)
a=","
a.join("1000")

'1,0,0,0'

In [16]:
# 대소문자 바꾸기(upper, lower)
a=' Hi '
a.upper(), a.lower() # 대소문자 변환

(' HI ', ' hi ')

In [21]:
# 왼쪽, 오른쪽 양쪽 공백 지우기(lstrip, rstrip, strip)
a.lstrip(), a.rstrip(), a.strip() # 왼쪽/ 오른쪽/ 양쪽 공백 지우기

('Life is too short', 'Life is too short', 'Life is too short')

In [22]:
# 문자열 바꾸기(replace)
a= "Life is too short"
a.replace("Life", "Your leg") #

'Your leg is too short'

In [24]:
# 문자열 나누기(split)
a.split() # 디폴트가 공백 기준

['a', 'b', 'c', 'd']

In [26]:
v= "a:b:c:d"
v.split(":") # : 문자 기준으로 나누기

['a', 'b', 'c', 'd']

### 3. 리스트 자료형

In [28]:
odd=[1,3,5,7,9]
odd[0]

odd+odd # 리스트 내 값들이 오른쪽에 이어 붙는다

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [36]:
# 1. 하나의 값 수정하기 
b=[1,2,3]
b[2]=4
b

[1, 2, 4]

In [37]:
# 2. 연속된 범위의 값 수정하기 
b[1:2]=["a","b","c"]
b # b[1] 자리 대신에 새로운 값 들어감

[1, 'a', 'b', 'c', 4]

In [38]:
# 3. [] 사용해 리스트 요소 삭제하기 
b[1:3]= []
b

[1, 'c', 4]

In [40]:
# 4. del 함수 이용해 리스트 요소 삭제하기 
del b[1] # b의 index num 1을 가진 위치의 문자 삭제됨
b

[1]

In [42]:
# 리스트에 요소 추가(append)

a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [44]:
# 리스트 정렬(sort)

a=[1,5,4,2,3]
a.sort()              # 오름차순이 디폴트 
print(a)

a.sort(reverse=True)  # 내림차순 옵션이 "reverse= True"
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [46]:
# 리스트 뒤집기(reverse)

a=['a','b','c']
a.reverse()
a

['c', 'b', 'a']

In [47]:
# 위치 반환(index)

a=[1,2,3]
a.index(3)

2

In [48]:
# 리스트에 요소 삽입(insert)

a=[1,2,3]
a.insert(0,4) # index값 0 가지는 위치에 4 삽입
a

[4, 1, 2, 3]

In [49]:
# 리스트 요소 제거 

a=[1,2,3,4,5,6]
a.remove(5) # 5라는 값 제거
a

[1, 2, 3, 4, 6]

In [56]:
# 리스트 요소 끄집어내기(pop) : x번째 요소를 돌려주고 그 요소는 삭제한다

a=[1,2,3]
a.pop(0) # index값 0을 가지는 1 값을 반환하고, 이 값을 제거한 리스트가 a에 저장됨.

1

In [57]:
a

[2, 3]

In [58]:
# 리스트 확장(extend)

a=[1,2,3]
a.extend([4,5])
a

# 즉 extend는 리스트를 더해주는 것과 같은 효과 즉 [1,2,3] + [4,5] = [1,2,3,4,5] 와 같은 결과가 됨.

[1, 2, 3, 4, 5]

### 4. 튜플 자료형
- 리스트는 [],튜플은 ()
- 리스트는 값의 생성, 삭제, 수정 가능 VS 튜플은 값을 바꿀 수 없다. 
- 튜플은 값을 하나만 가질 때 ,로 끝나야 한다. 즉 t1=(1,) 이런식으로 선언해 줘야 함.
- 튜플은 () 생략하고 선언해 줘도 가능하다. 
- 튜플 값을 삭제하거나 변경하려고 할 때 오류 발생한다.

In [61]:
t1= ()
t2= (1,)
t3= (1,2,3)
t4= 1,2,3

print(t1,t2,t3,t4)

() (1,) (1, 2, 3) (1, 2, 3)

In [63]:
t1=(1,2,'a','b')
t1[2:]

('a', 'b')

### 5. 딕셔너리 자료형 
- key 값이 중복되는 경우 하나를 제외한 다른 값은 무시된다. (먼저 써준 key가 남는것은 아니고 무엇이 무시될지는 모름.
- `key` : key 값에 리스트는 사용할 수 없으나 튜플 값은 사용 가능함.

In [1]:
dic={'name':'pey',
    'phone':'01012345678',
    'birth':'1118'}

dic['name']

'pey'

In [2]:
# 딕셔너리 쌍 추가하기 
dic['sex']='f'
dic

{'name': 'pey', 'phone': '01012345678', 'birth': '1118', 'sex': 'f'}

In [3]:
# 딕셔너리 요소 삭제하기 
del dic['phone']
dic

{'name': 'pey', 'birth': '1118', 'sex': 'f'}

In [5]:
# `key` : key 값에 리스트는 사용할 수 없으나 tuple 은 사용 가능 

a={[1,2]:'hi'}
a # Error !!

TypeError: unhashable type: 'list'

In [7]:
b={(1,2):'hi'}
b

{(1, 2): 'hi'}

In [21]:
dic={'name':'pey',
    'phone':'01012345678',
    'birth':'1118'}

# key 리스트 만들기(keys)
dic.keys() #이렇게 쓰면 dict_keys 객체로 반환되기 때문에, 리스트로 변환해줘야 함. 
list(dic.keys())

['name', 'phone', 'birth']

In [22]:
# value 리스트 만들기(values)
list(dic.values()) # value 값도 같은 이유로 list 로 변환해줘야 함

['pey', '01012345678', '1118']

In [23]:
# Key, Value 쌍 얻기(items)
dic.items()

dict_items([('name', 'pey'), ('phone', '01012345678'), ('birth', '1118')])

In [24]:
# Key로 Value 얻기(get)
dic.get('name')
# get을 사용하는 경우 ? 
#      ->  현재 dic 내 'grade'라는 값을 가진 key 값이 없기 때문에, dic['grade'] 는 에러를 발생시키지만, dic.get('grade')은 None 반환

'pey'

In [25]:
dic.get('grade','bar') 
# get 이용해서 디폴트 값 'bar' 설정할 수 있음.
# 즉 dic안에 grade 없으니깐 bar 라는 디폴트 값을 리턴하는 것을 볼 수 있음.

'bar'

In [26]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

'name' in dic, 'email' in dic

(True, False)

In [27]:
# Key, Value 쌍 모두 지우기 (clear)
dic.clear()
dic

{}

### 6. 집합 자료형
- 집합(set) 자료형의 대표적인 특징은 [1] 중복을 허용하지 않는다. [2] 순서가 없다.(indexing으로 값을 얻을 수 없다.)

In [35]:
s1=set([1,2,3])
s2=set("Hello")

s1,s2

({1, 2, 3}, {'H', 'e', 'l', 'o'})

In [36]:
# 1. 교집합 
s1 & s2 , s1.intersection(s2)

(set(), set())

In [38]:
# 2. 합집합
s1|s2, s1.union(s2)

({1, 2, 3, 'H', 'e', 'l', 'o'}, {1, 2, 3, 'H', 'e', 'l', 'o'})

In [39]:
# 3. 차집합 
s1-s2, s1.difference(s2)

({1, 2, 3}, {1, 2, 3})

In [40]:
# 값 추가하기(1개 : add, 여러개 : update)

s1= set([1,2,3])
s1.add(4) # 
s1.update([5,6,7])

s1

{1, 2, 3, 4, 5, 6, 7}

In [41]:
# 특정 값 제거하기(remove)
s1.remove(2)
s1

{1, 3, 4, 5, 6, 7}

### 추가 - 참고

In [43]:
# 리스트 값 복사하기 

a=[1,2,3]

b=a[:]
c=a.copy()
# 이렇게 해주면 b와 c는 a와 다른 객체가 됨.

## 연습문제

In [49]:
# 문자열
pin = "991120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]

yyyymmdd, num, pin[7] # 주민번호 앞자리, 뒷자리, 성별

('991120', '1068234', '1')

In [54]:
# 리스트 
a=[1,3,5,4,2]

a.sort()
print(a) 
a.sort(reverse= True)
print(a)

b=['Life', 'is', 'too','short']
result = " ".join(b)
result

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

'Life is too short'

In [64]:
# 튜플
a=(1,2,3)
a+(4,) # 튜플은 원소가 1개일 때 ,로 끝내줘야 함.

(1, 2, 3, 4)

In [66]:
# 딕셔너리 
a= {'A':90,'B':80,'C':70}
del a['B']
a

{'A': 90, 'C': 70}

In [68]:
# 집합 
a= [1,1,1,2,2,3,3,3,4,4,5]
list(set(a))

[1, 2, 3, 4, 5]

In [69]:
# 변수 
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

### 정규 표현식